<div>
  <app-calendar (calendarLoaded)="onCalendarLoaded($event)"></app-calendar>
</div>

<div *ngIf="isLoading" class="loading">
  <app-loading></app-loading>
</div>

<div class="users">
  <div class="user" *ngFor="let user of users">
      <input 
        [id]="user.id" 
        [(ngModel)]="user.isChecked"
        (change)="onUserClicked(user, $event.target.checked)"
        type="checkbox">
    <label [style.background-color]="user.color" [for]="user.id">{{ user.name }}</label>
  </div>
</div>