button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.container {
  position: relative;
}

.toggle-btn {
  font-size: 30px;
  cursor: pointer;
}

.menu {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 220px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.close-btn {
  position: absolute;
  top: 0;
  right: -35px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.link {
  width: 100%;
  border-radius: 3px;
  padding: 10px 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
}

.country-holidays {
  color: #ffa801;
}

.country-holidays:hover {
  background-color: rgba(255, 168, 1, 0.2);
}

.country-holidays:active {
  background-color: rgba(255, 168, 1, 0.4);
}

.user-vacation {
  color: #27ae60
}

.user-vacation:hover {
  background-color: rgba(39, 174, 96, 0.2);
}

.user-vacation:active {
  background-color: rgba(39, 174, 96, 0.4);
}