<div class="calendar">
  <div class="year">{{year}}</div>
  <div class="month" *ngFor="let month of monthes; index as monthNum">
    <div class="month-name">{{ month.name }}</div>
    <div class="day-name">MON</div>
    <div class="day-name">TUE</div>
    <div class="day-name">WED</div>
    <div class="day-name">THU</div>
    <div class="day-name">FRI</div>
    <div class="day-name">SAT</div>
    <div class="day-name">SUN</div>

    <ng-container *ngFor="let weeks of month.weeks">
      <ng-container *ngFor="let day of weeks; index as i">
        <div id="{{getDateId(monthNum, day.date)}}" class="date" [ngClass]="{ holiday: isHoliday(i, day.isHoliday) }">{{day.date}}</div>
      </ng-container>
    </ng-container>

  </div>
</div>

<div class="users">
  <div class="user" *ngFor="let user of users">
      <input 
        [id]="user.id" 
        [(ngModel)]="user.isChecked"
        (change)="onUserClicked(user, $event.target.checked)"
        type="checkbox">
    <label [style.background-color]="user.color" [for]="user.id">{{ user.name }}</label>
  </div>
</div>